.DS_Store
.RData
.Rapp.history
.Rhistory
.CFUserTextEncoding
.atom/
.codeium/
.config/
.cups/
.git-credentials
.gitconfig
.idlerc/
.ipython/
__pycache__/
*.pyc
.env
.venv
../.DS_Store
../.RData
../.Rapp.history
../.CFUserTextEncoding
../../ABP1/porcentaje_de_poblacion_con_diabetes_en_espa/303/261a_por_nivel_de_ingresos_del_hogar.csv
../practica14/.DS_Store
../practica14/potencia.py
